body,.paper{
    margin: 0;
}
.paper{
    box-sizing: border-box;
    width: 170px;
    height: 170px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(192, 114, 114);
    position: fixed;
    left: 100px;
    top: 100px;
    font-size: 16px;
    color: #fff;
    cursor: move;
    user-select: none;
}
.paper span{
    position: absolute;
    right: 4px;
    top: 2px;
    cursor: pointer;
}
.paper span:hover{
    color: red;
}

.inp{
    width: 240px;
    line-height: 32px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    border: 1px solid #ccc;
    font-size: 20px;
    text-indent: .5em;
    
}