body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.swiper-container{
    display: flex;
    box-sizing: border-box;
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(247,78,94);
    position: relative;
    margin: auto;
}
.left-bar,.right-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}
.left-bar{
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.right-bar{
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.swiper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.swiper li{
    width: 800px;
    height: 600px;
}
.indicator{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 100px;
    cursor: pointer;
}
.indicator li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    margin: 0 4px;
}