.banner{
    width: 520px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.banner .imgs{
    width: 520px;
    height: 300px;
    border: 1px solid #000;
    position: absolute;
}

.banner .imgs img{
    width: 520px;
    height: 300px;
    float: left;
}
.banner .arrow{
    display: none;
}
.banner:hover .arrow{
    display: block;
}
.banner .arrow .item{
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 150px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.banner .arrow .left{
    left: 0;
    border-radius: 0 15px 15px 0;
    padding-left: 6px;
}
.banner .arrow .right{
    right: 0;
    border-radius: 15px 0 0 15px;
    padding-left: 12px;
}
.banner .arrow .item:hover{
    background-color: rgba(0, 0, 0, .5);
}
.indicator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 30px;
}
.indicator span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}
.indicator span.active{
    background-color: #f40;
}